#! /bin/sh

# default devshell target includes pkgs for code formatting and commit hooks
# dev devshell target includes rust dev and hashicorp/cert related pkgs

[ -f .envrc.local ] && source_env .envrc.local
DEVSHELL_TARGET=${DEVSHELL_TARGET:-default}

. "$(nix eval --no-write-lock-file --no-update-lock-file .#__std.direnv_lib)"
use std nix "//automation/devshells:${DEVSHELL_TARGET}"
