#! /bin/sh

# power users can choose a different devshell target
[[ -f .envrc.local ]] && source_env .envrc.local

source_url \
  "https://raw.githubusercontent.com/divnix/std/main/direnv_lib.sh" \
  "sha256-Tc1h+vF0m8ikorRRUbubSsJ1Ko3FNnYgboHuE6Gw5tY="
use std nix //automation/devshells:default


