#! /bin/sh

# power users can choose a different devshell target
[[ -f .envrc.local ]] && source_env .envrc.local

source_url \
  "https://raw.githubusercontent.com/divnix/std/main/direnv_lib.sh" \
  "sha256-cowflfZ/4GX3OmgVUBKqJowVxTgUXK2SSyiHuKhhKw4="
use std nix //automation/devshells:default


